src/main/resources/application.properties
src/main/resources/application-local.properties
src/main/resources/json/
firebase-credentials.json
*firebase-adminsdk*.json

uploads/
target/
.git/
.gitignore
.gitattributes
.idea/
.vscode/
*.iml

Dockerfile
.dockerignore
docker-compose.yml
.env
.env.*
!.env.example

HELP.md
README.md
*.log
